*.d
*.i
*.o
*.obj
*.eep
*.*fuse
*.elf
*.hex
*.lock
*.lss
*.lst
*.map
*.sym
*.cof
*.suo
*.orig
testrunner
mocks
nbproject/private/*
Debug/*
register-*tests.c
*.opensdf
*.sdf
*.user
*.mcs
*.mcw
*.err
*.pyc
lextab.py
yacctab.py
