*.d
*.i
*.o
*.obj
*.eep
*.*fuse
*.elf
*.hex
*.lock
*.lss
*.lst
*.map
*.sym
*.cof
*.suo
*.orig
selftest-runner
selftest-runner.exe
build
avrbuild
mocks/*
nbproject/private/*
Debug/*
register-*tests.c
*.opensdf
*.sdf
*.user
*.mcs
*.mcw
*.err
*.pyc
lextab.py
yacctab.py
